.form {
    margin: 0.5rem;
}

.form fieldset {
    border-color: #4F5459;
    margin-bottom: 1rem;
}

.form legend {
    padding: 0 0.5rem;
    color: #FE8019 /* #60A0DC; */
}

.form b {
    display: block;
}

.form span {
    display: block;
}

.form label {
    float: left;
    margin: 3px 0.75rem 3px 0;
    display: block;
}

.form textarea {
    border: 2px solid #373737;
    background-color: #202020;
    height: 80px;
    resize: none;
}

.form textarea:focus {
    outline: none;
}

.form input {
    border: 2px solid #373737;
    background-color: #202020;
    vertical-align: middle;
}

.form input:focus {
    outline: none;
}

.form input[type="checkbox"] {
    accent-color: #FE8019;
}

.white_checkbox {
    background-image: url('https://static.wikia.nocookie.net/mtgsalvation_gamepedia/images/8/8e/W.svg/revision/latest/scale-to-width-down/200?cb=20160125094923');
    background-size: 30px;
    background-color: transparent !important;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.white_checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    accent-color: #f8df01 !important;
}

.blue_checkbox {
    width:35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.blue_checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    accent-color: #01b2f8 !important;
}

.black_checkbox {
    width:35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.black_checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    accent-color: #6a00b1 !important;
}

.red_checkbox {
    width:35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.red_checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    accent-color: #f80101 !important;
}

.green_checkbox {
    width:35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.green_checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    accent-color: #35a700 !important;
}

.colorless_checkbox {
    width:35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.colorless_checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    accent-color: #747474 !important;
}

.form input[type="file"] {
    display: none;
}

.form select {
    border: 2px solid #373737;
    background-color: #202020;
}

.form-after {
    clear: both;
}

.password-match:before {
    content: "⠀";
    display: block;
    font-size: 0.75rem;
}

.address label {
    display: block;
    width: 100%;
    margin: 0.25rem 0;
}
