.form {
    margin: 0.5rem;
}

.form fieldset {
    border-color: #4F5459;
    margin-bottom: 1rem;
}

.form legend {
    padding: 0 0.5rem;
    color: #FE8019 /* #60A0DC; */
}

.form b {
    display: block;
}

.form span {
    display: block;
}

.form label {
    float: left;
    margin: 3px 0.75rem 3px 0;
    display: block;
}

.form textarea {
    border: 2px solid #373737;
    background-color: #202020;
    height: 80px;
    resize: none;
}

.form textarea:focus {
    outline: none;
}

.form input {
    border: 2px solid #373737;
    background-color: #202020;
    vertical-align: middle;
}

.form input:focus {
    outline: none;
}

.form input[type="checkbox"] {
    accent-color: #FE8019;
}

.color-options > * {
    background-image: url("/img/search_icon.svg");
    background-size: 30px;
    background-color: transparent !important;
    width:35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.white_checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    accent-color: #f8df01 !important;
}

.blue_checkbox {
    filter: invert(7%) sepia(100%) saturate(7304%) hue-rotate(249deg) brightness(107%) contrast(144%);
}

.blue_checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    accent-color: #01b2f8 !important;
}

.black_checkbox {
    filter: invert(51%) sepia(0%) saturate(1%) hue-rotate(263deg) brightness(100%) contrast(90%);
}

.black_checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    accent-color: #6a00b1 !important;
}

.red_checkbox {
    filter: invert(15%) sepia(63%) saturate(5800%) hue-rotate(355deg) brightness(99%) contrast(119%);
}

.red_checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    accent-color: #f80101 !important;
}

.green_checkbox {
    filter: invert(45%) sepia(73%) saturate(1062%) hue-rotate(84deg) brightness(129%) contrast(118%);
}

.green_checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    accent-color: #35a700 !important;
}

.colorless_checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    accent-color: #747474 !important;
}

.form input[type="file"] {
    display: none;
}

.form select {
    border: 2px solid #373737;
    background-color: #202020;
}

.form-after {
    clear: both;
}

.password-match:before {
    content: "⠀";
    display: block;
    font-size: 0.75rem;
}
