.form {
    margin: 0.5rem;
}

.form fieldset {
    border-color: #4F5459;
    margin-bottom: 1rem;
}

.form legend {
    padding: 0 0.5rem;
    color: #FE8019 /* #60A0DC; */
}

.form b {
    display: block;
}

.form span {
    display: block;
}

.form label {
    float: left;
    margin: 3px 0.75rem 3px 0;
    display: block;
}

.form textarea {
    border: 2px solid #373737;
    background-color: #202020;
    height: 80px;
    resize: none;
}

.form textarea:focus {
    outline: none;
}

.form input {
    border: 2px solid #373737;
    background-color: #202020;
    vertical-align: middle;
}

.form input:focus {
    outline: none;
}

.form input[type="checkbox"] {
    accent-color: #FE8019;
}

.form input[type="file"] {
    display: none;
}

.form select {
    border: 2px solid #373737;
    background-color: #202020;
}

.form-after {
    clear: both;
}

.password-match:before {
    content: "⠀";
    display: block;
    font-size: 0.75rem;
}
