p {
    margin: 5px 0;
}

textarea {
    width: 100%;
    height: 100px;
}

input {
    border: 2px solid #373737;
    background-color: #202020;
    vertical-align: middle;
}

.textarea-title {
    height: 25px;
    margin-bottom: 5px;
}

.preview-title {
    font-size: 1rem;
    color: white;
}

.preview-box {
    background-color: #323232;
    margin-top: 15px;
    padding: 2px;
    padding-left: 10px;
    padding-top: 5px;
}

.create-title {
    font-size: 1.25rem;
    color: white;
    margin-bottom: 10px;
}

.post-title, .forum-title {
    font-size: 1.5rem;
    color: white;
}

.post-timestamp {
    margin-top: 5px;
    padding-right: 10px;
}

.post-content {
    font-size: 14px;
    word-wrap: break-word;
    width: 90%;
}

.comment {
    background-color: #323232;
    overflow: hidden;
    height: 100%:
}

.comment-header, .bottom-text {
    display: flex;
}

.comment-timestamp {
    margin-left: 5px;
}

.comment-content {
    font-size: 14px;
    word-wrap: break-word;
    width: 90%;
}

.profile-pic {
    float: left;
    width: 15%;
}

.profile-pic img {
    width: 90%;
    aspect-ratio: 9 / 11;
    background-size: cover;
    border: 3px solid #202020;
    background-color: #202020;
}

.user {
    font-weight: bold;
    font-size: 1rem;
}
