h1 {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

table {
    width: 100%;
    font-variant-numeric: tabular-nums;
}

th {
    background-color: #3d3c3b;
}

td {
    padding: 4px 8px;
}

tr:nth-child(even) {
    background-color: #222222;
}

.remove-form {
    margin: 0 !important;
    display: inline;
}

#product-image {
    flex-grow: 1;
}

#product-image img {
    border-radius: 18px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#product-info {
    flex-grow: 6;
}

#product-purchase {
    flex-grow: 1;
}

#cart-list {
    flex-grow: 5;
}

#cart-details {
    flex-grow: 1;
}

.col-num {
    text-align: right;
}
