h1 {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

table {
    width: 100%;
    font-variant-numeric: tabular-nums;
}

.info-table {
    height: 380px;
    padding: 0 0.5rem;
}

th {
    background-color: #3d3c3b;
}

td {
    padding: 4px 8px;
}

tr:nth-child(even) {
    background-color: #222222;
}

.remove-form {
    margin: 0 !important;
    display: inline;
}

#product-image {
    flex-grow: 1;
}

#product-image img {
    border-radius: 18px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#product-info {
    flex-grow: 6;
}

#product-purchase {
    flex-grow: 1;
}

#cart-list {
    flex-grow: 5;
}

#cart-details {
    flex-grow: 1;
}

.col-num {
    text-align: right;
}

.collapsible-row {
    padding: 0.5rem 0.75rem 0.5rem;
    overflow: hidden;
    box-sizing: border-box;
}

.collapsed-row {
    display: none;
}

.collapsible-button {
    width: 100%;
    border: none;
    padding: 0.5rem 0.75rem 0.5rem;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #3d3c3b;
    text-decoration: none;
    text-align: left;
}

.version-button {
    border: 3px solid #373737;
    background-color: #202020;
    vertical-align: middle;
    width: 100%;
    font-size: medium;
}

.column {
    display: flex;
    padding: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.left-column {
    flex-grow: 1;
    flex-basis: 20%;
    margin-bottom: 30px;
}

.right-column {
    flex-grow: 1;
    flex-basis: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    text-align: center;
}

.center-img {
    margin-left: auto;
    margin-right: auto;
}

.card-window {
    perspective: 1000px;
    border: 4px solid #4F5459;
    background-color: #202020;
}

.floating-card {
     --depth: 10px;
     --height: 306px;
     --width: 220px;

    height: var(--height);
    width: var(--width);
    margin: 10% auto;

    transform-style: preserve-3d;
}

.floating-card > div {
    background-color: #110F02;
    position: absolute;
}

.card-face > img {
    border-radius: 5%;
    height: var(--height);
    width: var(--width);
    touch-callout: none;
    user-select: none;
}

.floating-card .card-face:nth-child(1) {
    transform: translateZ(calc(var(--depth) / 2));
}

.floating-card .card-face:nth-child(2) {
    transform: rotateY(180deg) translateZ(calc(var(--depth) / 2));
}

.floating-card .card-face:nth-child(3), .floating-card .card-face:nth-child(4) {
    height: var(--height);
    width: var(--depth);
    left: calc(var(--width) / 2.1);
}

.floating-card .card-face:nth-child(3) {
    transform: rotateY(90deg) translateZ(calc(var(--width) / 2));
}

.floating-card .card-face:nth-child(4) {
    transform: rotateY(-90deg) translateZ(calc(var(--width) / 2));
}

.floating-card .card-face:nth-child(5), .floating-card .card-face:nth-child(6) {
    height: var(--depth);
    width: var(--width);
    top: calc(var(--height) / 2);
}

.floating-card .card-face:nth-child(5) {
    transform: rotateX(90deg) translateZ(calc(var(--height) / 2));
}

.floating-card .card-face:nth-child(6) {
    transform: rotateX(-90deg) translateZ(calc(var(--height) / 2));
}
