* {
    color: #CECECE;
    box-sizing: border-box;
}

body {
	background-color: #141617;

    line-height: normal;
    font-size: 0.75rem;

    margin: 0 auto;
    padding: 0.8rem 1.3rem 0.8rem 1.3rem;
}

div {
    font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

a {
    text-decoration: none;
    color: #60A0DC;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0.3rem 0;
    display: inline;
}

p {
    margin: 0;
    padding: 0.1rem 0;
}

li {
  list-style-position: inside;
  line-height: 1.25rem;
}

textarea {
    border: 2px solid #373737;
    background-color: #202020;
    resize: none;
}

textarea:focus {
    outline: none;
}

.box {
    background-color: #282828;

    border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
    border-color: #353535;

    margin-bottom: 0.65rem;

    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.box-error {
    color: #DBDBDB;
    font-weight: 600;
}

.box-title {
    font-size: 1rem;
    color: white;
}

.box-title a {
    text-decoration: none;
    color: white;
}

.box-title span {
    color: #fb4934;
}

.box-head {
	position: relative;
	border-radius: 4px;
	padding-top: 4px;
	z-index: 0;
}

.box-head::before {
    border-radius: 4px;
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #FE8019 0%, #CF0606 100%);
    background-repeat: repeat-x;
    animation: flow 4s linear infinite;
}

@keyframes flow {
    from {
        background-position: -900px 0;
    }
    to {
        background-position: 900px 0;
    }
}

.box-head a {
    color: #DDDDDD;
}

.box-head-row {
    background-color: #282828;
}

.box-light {
    background-color: #3d3c3b;
}

.box-row {
    padding: 0.5rem 0.75rem 0.5rem;
    overflow: hidden;
    box-sizing: border-box;
}

.box-light li {
    display: inline;
    line-height: 1em;

}

.box-row br {
    margin-bottom: 3px;
}

.box-left {
  float: left;
}

.box-left li {
  margin-right: 0.75rem;
}

.box-right {
  float: right;
}

.box-right li {
  margin-left: 0.75rem;
}

.box-right a {
    color: #DDDDDD;
}

.box-flex {
    display: flex;
    flex-wrap: wrap;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
}

.box-item {
    margin: 0.25rem;
    flex-grow: 0;
    flex-shrink: 0;

    width: 350px;
    max-width: 350px;
    display: inline-block;
}

.box-container > .box-item {
    min-width: 0; /* for allowing nowrap in flex-items */
    height: 390px;
}

.item-header {
    display: flex;
}

.item-set {
    padding-top: 0;
    padding-bottom: 0;
}

.item-name {
    width: 68%;
    color: #60A0DC;
}

.item-set {
    width: 100%;
    margin: 0;
    font-size: 11px;
    font-weight: bold;
}

.item-name, .item-price {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.item-name, .item-set {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media only screen and (max-width: 719px) {
    .box-item {
        width: 100%;
        max-width: 100%;
    }

    .box-container > .box-item {
        height: auto;
        flex: 1 1 100%;
    }
}

@media only screen and (min-width: 720px) {
    .box-container > .box-item {
        flex: 1 1 44%;
    }
}

@media only screen and (min-width: 900px) {
    .box-container > .box-item {
        flex: 1 1 30%;
    }
}

@media only screen and (min-width: 1150px) {
    .box-container > .box-item {
        flex: 1 1 20%;
    }
}

.box-card-small {
    height: 300px;
}

.box-card-large {
    height: 100%;
}

.box-card-small, .box-card-large {
    aspect-ratio: 488 / 680;
    perspective: 1000px;
}

.box-card-small img, .box-card-large img {
    border-radius: 4.5%;
    height: 100%;
    width: 100%;
}

.box-card-flip {
  width: inherit;
  height: inherit;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.box-card:hover .box-card-flip {
  transform: rotateY(180deg);
}

.box-card-large:hover .box-card-flip {
    transform: rotateY(180deg);
}

.box-card-small:hover .box-card-flip {
    transform: rotateY(180deg);
}

.box-card-front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.box-card-back {
  transform: rotateY(180deg);
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.chatbox-msgs {
    padding: 0.4rem;
    height: 100%;
    border: 2px solid #373737;
    background-color: #202020;
    color-scheme: dark;

    overflow-y: auto;
    overflow-x: hidden;
}

.chatbox-msgs:after {
    content: "\a";
    white-space: pre;
    font-size: 5px;
    display: block;
}

.chatbox span {
    border: 2px solid #373737;
    background-color: #202020;
}

.chatbox input {
    padding: 0.3rem;
    border: 2px solid #373737;
    background-color: #202020;
    width: 100%;
}

.chatbox input:focus {
    outline: none;
}

.message {
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.message-content {
    display: inline-block;
}

#default-user {
    color: #FB4934;
}

#admin-user {
    color: #CCAF0B;
}

#datetime {
    font-variant-numeric: tabular-nums;
}

.popular-cards {
    display: flex;
    flex-direction: row;
    gap: 1%;
    overflow-x: auto;
    margin: 0.5rem 0.75rem 0.5rem;
    padding: 0;
    scrollbar-width: none;
}

.pageinator {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.pageinator a {
    color: #DDDDDD;
    margin: 0 3px;
    text-decoration: none;
}

.fa-chevron-left::before {
    content: "\f053";
}

.fa-chevrons-right::before {
    content: "\f054";
}

.first-page > * {
    margin-left: -3px;
    margin-right: -3px;
}

.last-page > * {
    margin-left: -3px;
    margin-right: -3px;
}

.this-page-button {
    font-size: 1.5rem;
}

.collapsible-row {
    padding: 0.5rem 0.75rem 0.5rem;
    overflow: hidden;
    box-sizing: border-box;
}

.collapsed-row {
    display: none;
}

.collapsible-button {
    width: 100%;
    border: none;
    padding: 0.5rem 0.75rem 0.5rem;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #3d3c3b;
    text-decoration: none;
    text-align: left;
}

.version-button {
    border: 3px solid #373737;
    background-color: #202020;
    vertical-align: middle;
    width: 100%;
    font-size: medium;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.left-column {
    float: left;
    width: 30%;
    padding: 10px;
}

.right-column {
    float: left;
    width: 70%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 1000px) {
    .column {
      width: 50%;
    }
  }

  @media screen and (max-width: 700px) {
    .column {
      width: 100%;
    }
    .left-column {
        width: 100%;
    }
    .right-column {
        width: 100%;
    }
  }

  .center {
    text-align: center;
  }

  .center-img {
    margin-left: auto;
    margin-right: auto;
  }

@media only screen and (max-width: 700px) {
    .flex-break {
        flex-basis: 100%;
        height: 0;
    }
}
